<a href="https://colab.research.google.com/github/Krystiandres/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Oprators

In [ ]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() Function

In [ ]:
print(bool("Lance"))
print(bool(239))
print(bool())
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return boolean

In [ ]:
def myFunction():
  return False

print(myFunction())

False

In [ ]:
def myFunction():
  return False

if myFunction():
  print("Yes!")
else:
  print("No!")

No!

In [ ]:
print(10>9)

True

In [ ]:
a=60
b=13
print(a>b)
if (a<b)

print((a==b)
print(a!=a)

SyntaxError: ignored

Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

Application 2

In [ ]:
#Assignment Operators
x=2
x+=3 #the same as x=x+3, x=2+3

Logical Operators

In [ ]:
k = True
l = False
print(k and l) 
print (k or l)
print(not k or l)

False
True
False

Identity Operators

Control Structure

If Statement

In [ ]:
v = 1
z= 2
if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is less than z

Else Statement

In [1]:
number = int(input()) #to know if the number is positive or negative

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("0")

33
positive

Nested If.. Else

In [9]:
u=int(input())
if u>10:
  print("u is above 10")
if u>20:
  print("u is above 20")
if u>30:
  print("u is above 30")
if u>40:
  print("u is above 40")
if u>50:
  print("u is above 50")
else:
  print("u is less tha 50")

50
u is above 10
u is above 20
u is above 30
u is above 40
u is less tha 50

#Loop Structure

In [18]:
week=["Sunday","Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]
season=["rainy", "sunny"]
for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [24]:
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

In [25]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [28]:
# To display Sunday to Thursday

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [30]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 Create a python program that displays number from 1 to 4 using while loop statement

In [31]:
j = 1
while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 Create a python program that displays number 4 using while loop statement

In [34]:
j = 1
while j<=4:
  if j==4:
    print(j)
  j+=1

4